.navbar {
  background-color: rgba(255, 255, 255, 0.1);
  color: #d0d0d0;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: box-shadow 0.2s ease;
}

.navbar:hover {
  box-shadow: 0 0 10px rgb(255, 0, 0);
}

.navbar-link {
  color: #d0d0d0;
  text-decoration: none;
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}

.navbar-title {
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}

.navbar-title:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px rgb(255, 0, 140);
}

.navbar-link:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px rgb(255, 0, 0);
}
